body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Inter";
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

main {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-box {
    color: white;
    background-color: #0009;
    border-radius: 20px;
    border: solid #0000 2px;
    padding: 30px;
    transition: .4s;
}

.main-box:hover {
    background-color: #000A;
    border-color:#000F;
}

input {
    background-color: white;
    color: black;
    border: solid #0000 2px;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    font-size: 15px;
    transition: .4s;
    width: fit-content;
    min-width: 100px;
}

input:is(:hover, :active, :focus-visible) {
    border-color: var(--input-to-hsl-color); 
}

